@using FoodStore.Models
@model List<GioHang>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<div class="container" style="margin-top : 20px;">
    <table class="table">
        <thead>
            <tr>
                <th class="h5">Tên sản phẩm</th>
                <th>Format</th>
                <th>Số lượng</th>
                <th>Giá tiền</th>
            </tr>
        </thead>
        <tbody>

            @* gio hang*@
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <div class="row" style="display : flex; align-items : center; justify-content : flex-start">
                            <img src="~/Content/Images/@item.productImg" class="img-fluid rounded-3 col-xs-12 col-sm-6 col-md-8"
                                 style="width: 150px; height : 150px" alt="Book">
                            <div class="col-xs-6 col-md-4">
                                <p class="mb-2">@item.productName</p>
                            </div>
                        </div>
                    </th>
                    <td style="vertical-align : inherit">
                        <p class="mb-0" style="font-weight: 500;">Digital</p>
                    </td>
                    <td class="align-middle" style="vertical-align : inherit">
                        <div class="d-flex flex-row" style="align-items:center; ">
                            <button class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fas fa-minus"></i>
                            </button>

                            <input id="form1" min="0" name="quantity" value="2" type="number"
                                   class="form-control form-control-sm" style="width: 50px;" />

                            <button class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </td>
                    <td class="align-middle" style="vertical-align : inherit">
                        <p class="mb-0" style="font-weight: 500;">@string.Format("{0:#,##0,0}", @item.productPrice) VND</p>
                    </td>
                </tr>
            }


            @*end gio hang*@

        </tbody>
    </table>
    <hr />

    <div style="display : flex; justify-content : flex-end">
        <button type="button" style="width :150px;" class="btn btn-primary btn-block btn-lg">
            <div class="d-flex justify-content-between">
                @Html.ActionLink("Checkout", "DatHang", "GioHang")

            </div>
        </button>
    </div>
</div>