

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Ten
        </th>
        <th>
           MO ta
        </th>
        <th>
           Gia
        </th>
        <th>
           Anh
        </th>
        <th>
          Tên danh mục
        </th>
        <th></th>
    </tr>


    <tbody id="tblDslop">


    </tbody>

</table>

@section scripts{
    <script>
        $(document).ready(funtion(){
            Load();
        });


        function Load() {
            $.ajax({
                url: '/Admin/Product/Index',
                type: get,
                success: function (data) {
                    console.log(data)
                   
                }
            })
        }
    </script>
    
    }
